.vscode/**
.vscode-test/**
.gitignore
.eslintignore
*.code-workspace
**/*.py
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json
tree-sitter-ms-access-dump/**
vsc-extension-quickstart.md
development.md
shared.webpack.config.js
client/**
!client/out/extension.js
server/**
!server/out/server.js
!server/out/tree-sitter.wasm
!server/tree-sitter-ms_access_dump.wasm